#logo{
    width: 30%;
}
#main-container {
    display: flex;
}

#text-container {
    display: flex;
    flex-direction: column;
    background-color: #2151ff;
    color: white;
    font-family: Verdana, serif;
    font-weight : lighter;
    text-align: left;
    align-items: center;
    width: 50%;
    font-size: 22px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.titre { font-weight: bolder;
    font-size: large;

}

#p1 {
    text-align: left;
}
.gris-verdana{
    color: #424141;
    font-family: Verdana, serif;
    font-weight: bold;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
}

.link-header:link {
    text-decoration: none;
    color: grey;

}
.link-header:visited {
    text-decoration: none;
    color: grey;
}



#photo {
    width: 100% ;

}
.titre {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 2rem;
}

.texte {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

#link-test {
    text-decoration: none;
    color: white;
    background-color: #e1532f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0.8em 1.5em;
    border-radius: 4px;
    align-items: center;
    font-size: 15px;

}

#footer{
    background-color : #333232;
    display: flex;
    flex-direction: column;

}

#photo-footer {
    width: 300px;
    margin-left: -3px;


}

.titre-footer {
    color: white;
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;
    align-content: space-between;
    align-items : center;
}

#main-footer {
    display: flex;
    justify-content: space-around;
    margin-left: -60px;

}

#block-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#block-2{
    display: flex;
    flex-direction: column ;
    align-items: flex-start ;
}

#block-3{
    display: flex;
    flex-direction: column ;
    align-items: flex-start ;
}

#block-4{
    display: flex;
    flex-direction: column ;
    align-items: flex-start ;
}
.reseaux-sociaux{
    width: 28px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: space-between;
    padding-right: 10px ;
    margin: 9px 5px;
    margin-left: 20px;

}

.img-width {
    width: 25px;
    margin: 9px 5px;

}

#pngs {
    display: flex;
    justify-content: space-between;
}

#pngs a {
    display: flex;
    flex-direction: column;
}

.png{
    text-decoration: none;
    color: white;
    width: 40px;
    font-size: small;
}

#button1 {
    background-color : white;
    border: none;
    color: black;
    padding: 5px 12px;
    padding-right: 41px;
    padding-left: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    margin: 9px 5px;
    margin-left: 12px;
    cursor: pointer;
}

#button1 {
    display: flex;
}

#button1 {
    font-size: 14px;
}

#button2 {
    display: flex;
    flex-direction: column;
    color: white;
    background-color : #e1532f;
    border: none;
    padding: 5px 12px;
    padding-right: 35px;
    padding-left: 35px;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: 9px 5px;
    margin-left: 12px;
    cursor: pointer;
}

.sommaire {
    text-decoration: none;
    color: white;
    font-weight: 350;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    align-items: center;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    align-content: space-between;
}

#button3 {

    background-color: #333232;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-width: 3px;
    border-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

#photo-april{
    width: 150px;
    padding-top: 18px;
}


#titre {
    font-family: 'Montserrat', sans-serif;
    font-size : larger;
    font-weight : bolder;
    margin-top: 40px;
    margin-left: 200px;
    margin-bottom: 90px;

}

#paragraphe1 {
    text-align: justify;
    margin-left: 150px;
    font-family: 'Poppins', sans-serif;
    color: grey;
    line-height: 1.7;
}

.lpf {
    font-weight: bold;
    display: inline;
}
.lpf2{
    font-weight: bold;
    display: inline-block;
}

#paragraphe2 {
    text-align: justify;
    margin-right: 150px;
    font-family: 'Poppins', sans-serif;
    color: grey;
    line-height: 1.7;
}

#titre2 {
    font-family: 'Montserrat', sans-serif;
    font-size : larger;
    font-weight : bolder;
    margin-left: 200px;

}

 #fond{
     background-color: #f6f6f6 ; padding-top: 45px;


 }
#titre3 {
    font-family: 'Montserrat', sans-serif;
    font-size : larger;
    font-weight : bolder;
    margin-left: 200px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.flex2{
    display: flex;
    flex-direction: row;
    justify-content : flex-start;
    align-content: stretch;
    align-items: center;
}

.paragraphe3 {
    text-align: justify;
    margin-left: 30%;
    font-family: 'Poppins', sans-serif;
    color: grey;
    line-height: 1.7;
}

#qualiopi1{
width: 300px;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;

}
#qualiopi2 {
    width: 300px;
    display: flex;
    margin-left: 50px;
    margin-right: 90px;
}

.flex3{
    display: flex;
    flex-direction: row;
    justify-content : flex-start;
    align-content: stretch;
    align-items: center;
    margin-right: 10%;
}

#text-containers {
    display: flex;
}

#ligne{
    width: 80%;
    color: #7ebec6 ;

}

.style-text{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    color: grey;
    line-height: 1.7;
}
#flex-text {
    display: flex;
}

.block-text{
    display: flex;
}

#main-container-contact {
    display: flex;
    background-color: #2151ff;
}

#text-container-contact {
    display: flex;
    flex-direction: column;
    background-color: #2151ff;
    color: white;
    font-family: Verdana, serif;
    font-weight : lighter;
    text-align: left;
    align-items: center;
    width: 50%;
    font-size: 24px;
    padding-left: 55px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.titre-contact {
    font-weight: bolder;
    font-size: large;
    color: black;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left: -205px;
    margin-top: -5px;
    margin-bottom: -13px;
}

#photo-contact{
    width: 78% ;
    margin-left: 75px;
}

#p1-contact{
    text-align: left;
    margin-left: -125px;

}

#form{
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 2%;
    border: 2px black solid;
    border-radius: 10px;
}

